* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;

  line-height: 1.5;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
}
nav {
  display: block;
}
#navbar {
  position: fixed;
  min-width: 290px;
  height: 100%;
  top: 0px;
  left: 0px;
  border-right: solid #99a2a2;
}

nav ul {
  height: 90%;
  list-style-type: disc;
  overflow-y: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
nav ul li {
  border-top: 1px solid black;
}
li:nth-child(6) {
  border-bottom: 1px solid;
}

.nav-link {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
header {
  color: black;
  margin: 10px;
  font-size: 1.4rem;
  text-align: center;
}

.container header {
  text-align: left;
  margin: 0px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .single-user {
    width: 100%;
  }
}
@media only screen and (max-width: 815px) {
  #navbar {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 0;
    margin: 0;
    top: 0;
  }
  #navbar ul {
    height: 205px;
    border: 1px solid;
    overflow-y: scroll;
  }
  main {
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 270px;
  }
  .container {
    padding: 0px !important;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .single-user {
    width: 60%;
  }

  .single-user + .single-user {
    margin-top: 20px !important;
  }
  .container {
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
  }
  .content-card {
    position: relative;
  }
  .single-item-pic {
    width: 20%;
  }
  .single-item-pic > img {
    position: absolute;
    left: 0px;
    top: 28px;
  }
}
.container {
  margin-left: 280px;
  padding: 20px;
  margin-bottom: 100px;
}
.single-user {
  display: block;
}

.content-card {
  display: flex;
  max-width: 500px;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(4, 124, 230);
  border: 2px solid;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.single-user + .single-user {
  margin-top: 30px;
}

h2 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
  color: white;
}

.single-item-pic {
  display: block;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
}
